/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset de estilos e definição da fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    background: #1f242d;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do cabeçalho */
header {
    color: #BF6E30;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px; /* Ajuste o espaçamento para dispositivos menores */
    background: #11141a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Estilo das seções */
section {
    padding: 100px 15px; /* Adicione um espaçamento interno para as seções e ajuste para telas menores */
    color: #fff; /* Defina a cor do texto padrão para branco */
    text-align: center; /* Centralize o conteúdo */
}

/* Estilo para os títulos das seções */
section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estilo para os subtítulos das seções */
section h3 {
    color: #BF6E30;
    font-size: 18px;
    margin-bottom: 20px;
}

section p {
    color: #BF6E30;
    padding-left: 200px;
    padding-right: 200px;
}

/* Responsividade */

/* Cabeçalho Responsivo */
@media screen and (max-width: 768px) {
    header {
        padding: 15px 20px;
    }
}

/* Layout Responsivo das Seções */
@media screen and (max-width: 768px) {
    section {
        padding: 50px 0;
    }
    section h1 {
        font-size: 28px;
    }
}

/* Estilo da galeria */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

/* Estilo das imagens */
.image {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image img:hover {
    transform: scale(1.05);
}