/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset de estilos e definição da fonte padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    background: #1f242d;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do cabeçalho */
header {
    color: #BF6E30;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px; /* Ajuste o espaçamento para dispositivos menores */
    background: #11141a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* Estilo das seções */
section {
    padding: 100px 15px; /* Adicione um espaçamento interno para as seções e ajuste para telas menores */
    color: #fff; /* Defina a cor do texto padrão para branco */
    text-align: center; /* Centralize o conteúdo */
}

/* Estilo para os títulos das seções */
section h1 {
    color: #BF6E30;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estilo para os subtítulos das seções */
section h3 {
    color: #BF6E30;
    font-size: 18px;
    margin-bottom: 20px;
}

section p {
    color: #BF6E30;
    padding-left: 100px;
    padding-right: 100px;
}

/* Responsividade */

/* Cabeçalho Responsivo */
@media screen and (max-width: 768px) {
    header {
        padding: 15px 20px;
    }
}

/* Layout Responsivo das Seções */
@media screen and (max-width: 768px) {
    section {
        padding: 50px 0;
    }
    section h1 {
        font-size: 28px;
    }
}

/* Estilo da galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

/* Estilo das imagens */
.image {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item {
    flex-basis: 32.7%;
    margin-bottom: 6px;
    opacity: 0.85;
    cursor: pointer;
}

.gallery-item:hover {
    opacity: 1;
}

.gallery-item img {
    width: 90%;
    height: 90%;
    object-fit: scale-down;
}

/* Estilos para a lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
}

.lightbox img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

.lightbox-prev {
    left: 20px;
}

.lightbox-next {
    right: 20px;
}

.zoom {
    color: white;
    text-align: center;
}

.cor {
    color: #BF6E30;
}

.present {
    margin-top: 20px;
    color: white;
    text-align: center;
}